a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}

.disclaimer {
	font-size: .8em;
	margin-top: -25px;
	margin-bottom: 20px;
}

img {
	box-shadow: 1px 1px 1px 1px gray;
}

.media {
	padding: 5px;
}

.row {
	width: 100%;
}

small {
	font-size: .3em;
}

.host {
	font-size: .6em;
	position: relative;
	top: -2px;
}

/*@media only screen and (min-width: 960px) {
.container {
	max-width: 1200px;
	margin-left: auto;
	}
}*/

