


<div class="container-fluid">
    <div class="well">
    	<h1 class="text-center">Projects</h1>
    	<div class="list-group">
          	
          	<a href="https://giphy-outfront.herokuapp.com" class="list-group-item">
                <div class="media col-md-3 pic">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/giphy.png" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Giphy Search </h4>
                    <p class="list-group-item-text"> 
                    	An Angular 4 app which can be used to search the Giphy API. Search by keyword and choose the desired amount of returned results.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2><small >Angular 4 | Bootstrap | HTML | CSS</small></h2>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Go Now!</button>
                </div>

            </a>
            <a href="#" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/warm.png" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Warm Connection </h4>
                    <p class="list-group-item-text"> An Angular 4 / Rails application which allows you to create e-mail templates and define injectable variables.                
                    </p>
                </div>
            	<div class="col-md-3 text-center">
                	<h2><small> Angular 4 | Rails | Bootstrap </small></h2>
                	<button type="button" class="btn btn-primary btn-lg btn-block">Go Now!</button>
            	</div>
        	</a>

			<a href="#" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/music.png" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Music Licensing </h4>
                    <p class="list-group-item-text"> Ut mea viris eripuit theophrastus, cu ponderum accusata consequuntur cum. Suas quaestio cotidieque pro ea. Nam nihil persecuti philosophia id, nam quot populo ea. 
                        Falli urbanitas ei pri, eu est enim volumus, mei no volutpat periculis. Est errem iudicabit cu. At usu vocibus officiis, ad ius eros tibique appellantur.                         
                    </p>
                </div>
            	<div class="col-md-3 text-center">
                	<h2><small> Rails | JavaScript | jQuery </small></h2>
                	<button type="button" class="btn btn-primary btn-lg btn-block">Go Now!</button>
                    	<div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                	</div>
                	<p> Average 4.1 <small> / </small> 5 </p>
            	</div>
        	</a>

			<a href="#" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/game.png" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Retro Gaming Tracker </h4>
                    <p class="list-group-item-text"> Ut mea viris eripuit theophrastus, cu ponderum accusata consequuntur cum. Suas quaestio cotidieque pro ea. Nam nihil persecuti philosophia id, nam quot populo ea. 
                        Falli urbanitas ei pri, eu est enim volumus, mei no volutpat periculis. Est errem iudicabit cu. At usu vocibus officiis, ad ius eros tibique appellantur.                         
                    </p>
                </div>
            	<div class="col-md-3 text-center">
                	<h2> <small> Ruby | Sinatra | ActiveRecord </small></h2>
                	<button type="button" class="btn btn-primary btn-lg btn-block">Go Now!</button>
                    	<div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                	</div>
                	<p> Average 4.1 <small> / </small> 5 </p>
            	</div>
        	</a>

			<a href="#" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/cinema.png" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Cinema Star </h4>
                    <p class="list-group-item-text"> Ut mea viris eripuit theophrastus, cu ponderum accusata consequuntur cum. Suas quaestio cotidieque pro ea. Nam nihil persecuti philosophia id, nam quot populo ea. 
                        Falli urbanitas ei pri, eu est enim volumus, mei no volutpat periculis. Est errem iudicabit cu. At usu vocibus officiis, ad ius eros tibique appellantur.                         
                    </p>
                </div>
            	<div class="col-md-3 text-center">
                	<h2><small> AngularJS | Rails </small></h2>
                	<button type="button" class="btn btn-primary btn-lg btn-block">Go Now!</button>
                    	<div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                	</div>
                	<p> Average 4.1 <small> / </small> 5 </p>
            	</div>
        	</a>

        	<a href="#" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/pet.png" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Pet Store E-commerce (In Progress) </h4>
                    <p class="list-group-item-text"> Ut mea viris eripuit theophrastus, cu ponderum accusata consequuntur cum. Suas quaestio cotidieque pro ea. Nam nihil persecuti philosophia id, nam quot populo ea. 
                        Falli urbanitas ei pri, eu est enim volumus, mei no volutpat periculis. Est errem iudicabit cu. At usu vocibus officiis, ad ius eros tibique appellantur.                         
                    </p>
                </div>
            	<div class="col-md-3 text-center">
                	<h2><small> PHP | MySQL | JavaScript </small></h2>
                	<button type="button" class="btn btn-primary btn-lg btn-block">Go Now!</button>
                    	<div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                	</div>
                	<p> Average 4.1 <small> / </small> 5 </p>
            	</div>
        	</a>
    	</div>
	</div>
</div>


