


<div class="container-fluid">
    <div class="well">
    	<h1 class="text-center">Projects</h1>
    	<h5 class="text-center disclaimer">**Most of these are Heroku deployments which may be sleeping (zzz)... please allow a little time for loading.</h5>
    	<div class="list-group">
          	
          	<a href="https://giphy-outfront.herokuapp.com" class="list-group-item">
                <div class="media col-md-3 pic">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/giphy.png" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Giphy Search </h4>
                    <p class="list-group-item-text"> 
                    	An Angular 4 app which can be used to search the Giphy API. Search by keyword and choose the desired amount of returned results.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2><small >Angular 4 | Bootstrap | HTML | CSS</small></h2>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Heroku)</span></button>
                </div>

            </a>
            <a href="https://warm-connection.herokuapp.com" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/warm.png" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Warm Connection </h4>
                    <p class="list-group-item-text"> An Angular 4 / Rails application which allows you to create e-mail templates and define injectable variables.                
                    </p>
                </div>
            	<div class="col-md-3 text-center">
                	<h2><small> Angular 4 | Rails | Bootstrap </small></h2>
                	<button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Heroku)</span></button>
            	</div>
        	</a>

			<a href="https://jonathanfosterlicensing.herokuapp.com" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/music.png" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Music Licensing </h4>
                    <p class="list-group-item-text"> A Rails app which allows you to list music for licensing. Songs can be previewed and filtered by many different types of metadata including categories, styles, and tags. A full dashboard is available to update lyrics, cover art, etc.          
                    </p>
                </div>
            	<div class="col-md-3 text-center">
                	<h2><small> Rails | JavaScript | jQuery </small></h2>
                	<button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Heroku)</span></button>
            	</div>
        	</a>

			<a href="https://github.com/jonfoster9999/retro-game-tracker" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/game.png" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Retro Gaming Tracker </h4>
                    <p class="list-group-item-text"> Register your retro gaming collection, and browse the collections of others.                         
                    </p>
                </div>
            	<div class="col-md-3 text-center">
                	<h2> <small> Ruby | Sinatra | ActiveRecord </small></h2>
                	<button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Github)</span></button>
            	</div>
        	</a>

			<a href="https://github.com/jonfoster9999/movies-app" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/cinema.png" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Cinema Star </h4>
                    <p class="list-group-item-text"> An app written in Angular 1.x which lists newly released movies. Users can browse movies, casts, and showing locations. Movies can also be commented on and rated.              
                    </p>
                </div>
            	<div class="col-md-3 text-center">
                	<h2><small> AngularJS | Rails </small></h2>
                	<button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Github)</span></button>
            	</div>
        	</a>

        	<a href="https://github.com/jonfoster9999/one-stop-pet" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="../assets/images/projects/pet.png" alt="placehold.it/350x250">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> Pet Store E-commerce (In Progress) </h4>
                    <p class="list-group-item-text"> A full e-commerce store for a pet supply business. This is a work in progress. The final product will allow for complete transactions through Stripe.com. Written in PHP, MySql, and JavaScript.                         
                    </p>
                </div>
            	<div class="col-md-3 text-center">
                	<h2><small> PHP | MySQL | JavaScript </small></h2>
                	<button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Github)</span></button>
            	</div>
        	</a>
    	</div>
	</div>
</div>


