
<span id="DeltaPlaceHolderMain">                   
  <div class="bannerImg">
    <div id="ctl00_PlaceHolderMain_ucHeroBanner_divBoxPosition" class="herobnr_Right">
      <a id="ctl00_PlaceHolderMain_ucHeroBanner_btnBannerImage" class="hrBanLnk popup-youtube">
        <div>
          <img id="ctl00_PlaceHolderMain_ucHeroBanner_imgBannerHome" class="heroShadow" src="http://www.outfrontmedia.com/OFMImages/new-york-city-overview-banner.jpg" >
        </div>
        <div id="ctl00_PlaceHolderMain_ucHeroBanner_divHB" id="placeholder1" class="herobnr_cnt">
          <h1 id="hello-h1">
            <span id="ctl00_PlaceHolderMain_ucHeroBanner_lblTitle" id="hello">Hello!
            </span>
          </h1>
          <img src="../assets/jonbw.png" alt="jon" class="profile-picture">
          <p>
            <br>
            
            <span style="margin-top: 20px" id="ctl00_PlaceHolderMain_ucHeroBanner_lblDesc">My name is Jonathan Foster<span class="join"> and I'd love to join the Outfront Media team</span>.</span>
          </p>
        </div>
      </a>
      <a href="#outfront" id="" class="learnMoreBtn text-center">Read More</a>
    </div>
  </div>

  <div class="">

  </div>
 
  <br>

 <br>


<section id="outfront"> 
    <div class="container-fluid well main">
        <br>
        <div class="col-xs-12 statement">
          <h4 class="text-center">I'm Jonathan Foster.</h4>
          <hr>
          <p class="text-center">I would love to work for Outfront Media for a number of reasons.</p> <p> I've always been enamoured by media, pop culture, and promotion. I come from a musical background and always had to think of creative ways to market what I was doing. I am taken with how Outfront Media embraces marketing at such a large and effective scale.</p> 
      
          <p class="text-center">I am also very excited by the stack that is currently being implemented at Outfront. After talking to some of the lead engineers I can see that the team is very forward thinking and interested in using the most current and effective tools available. I have been very focused on Angular 4 and am eager to work with this technology at a professional level.</p>
      
          <p class="text-center">As an employee, I will bring a high degree of enthusiasm, a strong willingness to learn, and a tenacious spirit. I believe in seeing a problem or challenge through until it has found a resolution, and in fact cannot rest until it does. I will be the type of programmer who will leave work at the end of the day and continue to learn.</p>
      
          <p class="text-center">I am very excited to take my career to the next level and hope that I can be of service at Outfront Media!</p>
        </div>
        
      </div>
</section>

<section class="contain">
    <h5 class="text-center" style="color:gray">My Favorite Technologies: </h5>
  <div class="languages">
      
    <img src="https://cdn-images-1.medium.com/max/796/1*juPyda3wq9uz_SNFRLuANg@2x.png" alt="">
    <img src="https://www.developpez.net/forums/attachments/p294178d1500075571/c-cpp/outils-c-cpp/visual-cpp/mfc/mschart/1024.png/" alt="">
    <img src="http://appv2.asustor.com/uploadIcons/0020_999_1373612393_Ruby512.png" alt="">
   
    <img src="https://thinkster.io/assets/homepage/rails-9b13de39de9d2eed10a2418734ee1e584cdc9634c04206af1c2bfcc8b0d0e3d5.png" alt="">
    <img src="http://software-engineer-training.com/wp-content/uploads/2016/02/mysql_logo-300x300.png" alt="">
    <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" alt="">
    
    
  </div>
</section>


<!-- <section>
    <div class="container-fluid" style="width: 100%;">
        <div class="well">
          <h1 class="text-center">Projects</h1>
          <h5 class="text-center disclaimer">**Most of these are Heroku deployments which may be sleeping (zzz)... please allow a little time for loading.</h5>
          <div class="list-group">
                
                <a href="https://giphy-outfront.herokuapp.com" class="list-group-item">
                    <div class="media col-md-3 pic">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="../assets/images/projects/giphy.png" alt="placehold.it/350x250" >
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Giphy Search </h4>
                        <p class="list-group-item-text"> 
                          An Angular 4 app which can be used to search the Giphy API. Search by keyword and choose the desired amount of returned results.
                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2><small >Angular 4 | Bootstrap | HTML | CSS</small></h2>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Heroku)</span></button>
                    </div>
    
                </a>
                <a href="https://warm-connection.herokuapp.com" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="../assets/images/projects/warm.png" alt="placehold.it/350x250">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Warm Connection </h4>
                        <p class="list-group-item-text"> An Angular 4 / Rails application which allows you to create e-mail templates and define injectable variables.                
                        </p>
                    </div>
                  <div class="col-md-3 text-center">
                      <h2><small> Angular 4 | Rails | Bootstrap </small></h2>
                      <button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Heroku)</span></button>
                  </div>
              </a>
    
          <a href="https://jonathanfosterlicensing.herokuapp.com" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="../assets/images/projects/music.png" alt="placehold.it/350x250">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Music Licensing </h4>
                        <p class="list-group-item-text"> A Rails app which allows you to list music for licensing. Songs can be previewed and filtered by many different types of metadata including categories, styles, and tags. A full dashboard is available to update lyrics, cover art, etc.          
                        </p>
                    </div>
                  <div class="col-md-3 text-center">
                      <h2><small> Rails | JavaScript | jQuery </small></h2>
                      <button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Heroku)</span></button>
                  </div>
              </a>
    
          <a href="https://github.com/jonfoster9999/retro-game-tracker" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="../assets/images/projects/game.png" alt="placehold.it/350x250">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Retro Gaming Tracker </h4>
                        <p class="list-group-item-text"> Register your retro gaming collection, and browse the collections of others.                         
                        </p>
                    </div>
                  <div class="col-md-3 text-center">
                      <h2> <small> Ruby | Sinatra | ActiveRecord </small></h2>
                      <button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Github)</span></button>
                  </div>
              </a>
    
          <a href="https://github.com/jonfoster9999/movies-app" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="../assets/images/projects/cinema.png" alt="placehold.it/350x250">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Cinema Star </h4>
                        <p class="list-group-item-text"> An app written in Angular 1.x which lists newly released movies. Users can browse movies, casts, and showing locations. Movies can also be commented on and rated.              
                        </p>
                    </div>
                  <div class="col-md-3 text-center">
                      <h2><small> AngularJS | Rails </small></h2>
                      <button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Github)</span></button>
                  </div>
              </a>
    
              <a href="https://github.com/jonfoster9999/one-stop-pet" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="../assets/images/projects/pet.png" alt="placehold.it/350x250">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Pet Store E-commerce (In Progress) </h4>
                        <p class="list-group-item-text"> A full e-commerce store for a pet supply business. This is a work in progress. The final product will allow for complete transactions through Stripe.com. Written in PHP, MySql, and JavaScript.                         
                        </p>
                    </div>
                  <div class="col-md-3 text-center">
                      <h2><small> PHP | MySQL | JavaScript </small></h2>
                      <button type="button" class="btn btn-primary btn-lg btn-block">Go Now! <span class="host">(Github)</span></button>
                  </div>
              </a>
          </div>
      </div>
    </div>

</section> -->
  <!-- <section class="part3 well" id="outfront" style="min-width: 300px; padding-top: 20px; margin-top: 32px">
    <h1 class="text-center resume-title">Jonathan Foster</h1>
    <h5 class="text-center">631-494-8627 | jon.foster.ny@gmail.com
 | github.com/jonfoster9999 | adventuresofjonathan.com</h5>
    <h3 class="resume-header">TECHNICAL PROJECTS</h3>
    
    <h4><a href="https://warm-connection.herokuapp.com"class="resume-link">Warm Connection</a> - <span class="res-desc"><em>Build email templates with injectable variables.</em></span></h4>
    <ul>
      <li class="resume-bullet">+ Employed Angular 4 directives, services, guards, and resolvers using TypeScript</li>
      <li class="resume-bullet">+ Deployed Rails backend with Rack CORS middleware for cross-origin resource sharing</li>
      <li class="resume-bullet">+ Made use of observables and subjects via ReactiveX Javascript Library</li>
      <li class="resume-bullet">
       + Wrote custom user registration and authentication</li>
    </ul>

    <h4><a href="http://jonathanfosterlicensing.herokuapp.com" class="resume-link">Music Player and Licenser</a> - <span class="res-desc"><em>Browse and preview songs, build custom licenses for commercial use.</em></span></h4>
    <ul>
      <li class="resume-bullet">+ Designed front end using custom artwork, CSS sprites, and media queries</li>
      <li class="resume-bullet">+ Wrote song player logic from scratch using JavaScript/jQuery</li>
      <li class="resume-bullet">+ Constructed schema and database with ActiveRecord/PostgreSQL</li>
      <li class="resume-bullet">+ Integrated third party Ruby gems including filterriffic, wavesurfer js, and will_paginate</li>
      <li class="resume-bullet">+ Created API in Rails for song license data</li>
    </ul>
    
    <h4><a href="https://github.com/jonfoster9999/movies-app" class="resume-link">Cinema Star</a> - <span class="res-desc"><em>Explore new movies, share your thoughts about them, and find out what’s playing near you.</em></span></h4>
    <ul>
      <li class="resume-bullet">+ Built front end using the AngularJS framework with custom services, filters and directives</li>
      <li class="resume-bullet">+ Implemented Active Model Serializers (with associations) to serve appropriate JSON data</li>

      <li class="resume-bullet">+ Constructed API and database with Rails/ActiveRecord</li>
      <li class="resume-bullet">+ Integrated the Bower gem to manage front end assets</li>
    </ul>
    
    <h3 class="resume-header">TECHNICAL SKILLS</h3>
    <ul>
      <li class="resume-bullet">Ruby, Rails, JavaScript, SQL, Angular 4, AngularJS, HTML, CSS, jQuery, Java</li>
    </ul>

<h3 class="resume-header">EMPLOYMENT HISTORY</h3>
<p class="employment-item"><strong>Flatiron School,</strong> New York, NY<br>TA/Instructor, <em>July 2017 - present</em>
</p>
<ul>
  <li class="resume-bullet">
    + Organized weekly study groups on a wide range of subjects including SQL, Rails, jQuery, and Javascript
  </li>
  <li class="resume-bullet">
    + Assisted students with general questions and project preparation
  </li>
</ul>

<p class="employment-item"><strong>Aclef Productions (Music Licensing),</strong> New York, NY<br>Web Developer and CEO, <em>December 2016 - present</em>
</p>
<ul>
  <li class="resume-bullet">
    + Designed the company website using HTML and CSS, and built a custom sound player with jQuery
  </li>
  <li class="resume-bullet">
    + Composed and recorded 80% of music on site
  </li>
</ul>

<p class="employment-item"><strong>Conscience Point Promotions,</strong>  Southampton, NY<br>Head Sound Engineer, <em>June 2015 - present</em>
</p>
<ul>
  <li class="resume-bullet">
    + Engineered sound for over 100 live bands at multiple venues
  </li>
  <li class="resume-bullet">
    + Communicated directly with artists to coordinate scheduling and equipment requirements
  </li>
</ul>

<h3 class="resume-header">EDUCATION</h3>

<p class="education-item"><strong>Flatiron School - </strong>  New York, NY - <em>2017</em>
</p>
<ul>
  <li class="resume-bullet">
    + Full Stack Web Development, Ruby on Rails and JavaScript online program
  </li>
</ul>

<p class="education-item"><strong>Suffolk Community College - </strong>  New York, NY - <em>2016</em>
</p>
<ul>
  <li class="resume-bullet">
    + Intro To Programming: Java
  </li>
</ul>

<p class="education-item"><strong>Berklee College of Music - </strong>  Boston, MA - <em>2016</em>
</p>
<ul>
  <li class="resume-bullet">
    + Major: Music Licensing
  </li>
</ul> 
  </section> -->
     
  <div style="display:none" id="hidZone">
    <menu class="ms-hide">
    </menu>
  </div>
  <div class="clear">
  </div>
</span>