.resume-header {
	font-size: 1.3em;
	background:#fff url(https://www.outfrontmedia.com/_layouts/15/IMAGES/OFMWebsite/img/topnavBg.jpg?v=2)
}

.resume-link {
	font-size: 1.1em;
	text-decoration: underline;
	margin-left: 4px;
}

.resume-link:hover {
	cursor: pointer;

}

a.resume-link {
	font-size: .9em;
}

.resume-title {
	margin-bottom: 2px;
}

.res-desc {
	font-size: .8em;
	font-weight: 400;
}

h5 {
	margin-left: 8px;
}
a.anchor{ position: relative; top: -250px; visibility: hidden;}

.resume-bullet {
	color: rgb(0, 0, 78);
	list-style: none;
	margin-left: 8px;
}

.employment-item, .education-item {
	margin-left: 8px;
	margin-bottom: 0px;
}

section {
	width: 100%;
	padding: 30px;
	padding-top: 0px;
	border: 3px solid #eee;
	background-color: #fefefe;
}

h1{
	margin-top: 0px;
}

section h1 {
	padding-bottom: 0px;
	margin-top: 40px;
}

.employment-item + ul li,
.education-item + ul li {
	margin-left: 12px;
}

@media only screen and (max-width: 550px) {
	section {
		margin-bottom: 30px;
		border: none;
	}
}

.profile-picture {
	height: 120px;
	width: 120px;
	border-radius: 100px;
	margin-bottom: -15px;
	margin-top: -10px;
}

@media only screen and (max-width: 940px) {
	#placeholder1 {
		padding-top: 40px;
	}
}

@media only screen and (max-width: 970px) and (min-width: 940px) {
	.join {
		display: none;
	}
}

.languages {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: space-around;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
	max-width: 1060px;
	background-color: rgb(241, 241, 241);
	border-radius: 4px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.languages img {
	height: 100px;
	width: 100px;
	display: block; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

