<span id="DeltaPlaceHolderMain">                   
  <div class="bannerImg">
    <div id="ctl00_PlaceHolderMain_ucHeroBanner_divBoxPosition" class="herobnr_Right">
      <a href="https://www.youtube.com/watch?v=o4nOFYcQbhA" id="ctl00_PlaceHolderMain_ucHeroBanner_btnBannerImage" class="hrBanLnk popup-youtube">
        <div>
          <img id="ctl00_PlaceHolderMain_ucHeroBanner_imgBannerHome" class="heroShadow" src="./assets/code4.jpg" >
        </div>
        <div id="ctl00_PlaceHolderMain_ucHeroBanner_divHB" id="placeholder1" class="herobnr_cnt">
          <h1 id="hello-h1">
            <span id="ctl00_PlaceHolderMain_ucHeroBanner_lblTitle" id="hello">Hello!
            </span>
          </h1>
          <p>
            <br>
            <br>
            <br>
            <span style="margin-top: 20px" id="ctl00_PlaceHolderMain_ucHeroBanner_lblDesc">My name is Jonathan Foster and I'd love to join the Outfront Media team.</span>
          </p>
        </div>
      </a>
      <a href="#outfront" id="" class="learnMoreBtn text-center">See Resume</a>
    </div>
  </div>

  <div class="">

  </div>
  <br><br>
  <section class="part3" id="outfront" style="min-width: 300px; padding-top: 20px; margin-top: 32px">
    <h1 class="text-center resume-title">Jonathan Foster</h1>
    <h5 class="text-center">631-494-8627 | jon.foster.ny@gmail.com
 | github.com/jonfoster9999 | adventuresofjonathan.com</h5>
    <h3 class="resume-header">TECHNICAL PROJECTS</h3>
    
    <h4><a href="https://warm-connection.herokuapp.com"class="resume-link">Warm Connection</a> - <span class="res-desc"><em>Build email templates with injectable variables.</em></span></h4>
    <ul>
      <li class="resume-bullet">+ Employed Angular 4 directives, services, guards, and resolvers using TypeScript</li>
      <li class="resume-bullet">+ Deployed Rails backend with Rack CORS middleware for cross-origin resource sharing</li>
      <li class="resume-bullet">+ Made use of observables and subjects via ReactiveX Javascript Library</li>
      <li class="resume-bullet">
       + Wrote custom user registration and authentication</li>
    </ul>

    <h4><a href="http://jonathanfosterlicensing.herokuapp.com" class="resume-link">Music Player and Licenser</a> - <span class="res-desc"><em>Browse and preview songs, build custom licenses for commercial use.</em></span></h4>
    <ul>
      <li class="resume-bullet">+ Designed front end using custom artwork, CSS sprites, and media queries</li>
      <li class="resume-bullet">+ Wrote song player logic from scratch using JavaScript/jQuery</li>
      <li class="resume-bullet">+ Constructed schema and database with ActiveRecord/PostgreSQL</li>
      <li class="resume-bullet">+ Integrated third party Ruby gems including filterriffic, wavesurfer js, and will_paginate</li>
      <li class="resume-bullet">+ Created API in Rails for song license data</li>
    </ul>
    
    <h4><a href="https://github.com/jonfoster9999/movies-app" class="resume-link">Cinema Star</a> - <span class="res-desc"><em>Explore new movies, share your thoughts about them, and find out what’s playing near you.</em></span></h4>
    <ul>
      <li class="resume-bullet">+ Built front end using the AngularJS framework with custom services, filters and directives</li>
      <li class="resume-bullet">+ Implemented Active Model Serializers (with associations) to serve appropriate JSON data</li>

      <li class="resume-bullet">+ Constructed API and database with Rails/ActiveRecord</li>
      <li class="resume-bullet">+ Integrated the Bower gem to manage front end assets</li>
    </ul>
    
    <h3 class="resume-header">TECHNICAL SKILLS</h3>
    <ul>
      <li class="resume-bullet">Ruby, Rails, JavaScript, SQL, Angular, HTML, CSS, jQuery, Java</li>
    </ul>

<h3 class="resume-header">EMPLOYMENT HISTORY</h3>
<p class="employment-item"><strong>Flatiron School,</strong> New York, NY<br>TA/Instructor, <em>July 2017 - present</em>
</p>
<ul>
  <li class="resume-bullet">
    + Organized weekly study groups on a wide range of subjects including SQL, Rails, jQuery, and Javascript
  </li>
  <li class="resume-bullet">
    + Assisted students with general questions and project preparation
  </li>
</ul>

<p class="employment-item"><strong>Aclef Productions (Music Licensing),</strong> New York, NY<br>Web Developer and CEO, <em>December 2016 - present</em>
</p>
<ul>
  <li class="resume-bullet">
    + Designed the company website using HTML and CSS, and built a custom sound player with jQuery
  </li>
  <li class="resume-bullet">
    + Composed and recorded 80% of music on site
  </li>
</ul>

<p class="employment-item"><strong>Conscience Point Promotions,</strong>  Southampton, NY<br>Head Sound Engineer, <em>June 2015 - present</em>
</p>
<ul>
  <li class="resume-bullet">
    + Engineered sound for over 100 live bands at multiple venues
  </li>
  <li class="resume-bullet">
    + Communicated directly with artists to coordinate scheduling and equipment requirements
  </li>
</ul>

<h3 class="resume-header">EDUCATION</h3>

<p class="education-item"><strong>Flatiron School - </strong>  New York, NY - <em>2017</em>
</p>
<ul>
  <li class="resume-bullet">
    + Full Stack Web Development, Ruby on Rails and JavaScript online program
  </li>
</ul>

<p class="education-item"><strong>Suffolk Community College - </strong>  New York, NY - <em>2016</em>
</p>
<ul>
  <li class="resume-bullet">
    + Intro To Programming: Java
  </li>
</ul>

<p class="education-item"><strong>Berklee College of Music - </strong>  Boston, MA - <em>2016</em>
</p>
<ul>
  <li class="resume-bullet">
    + Major: Music Licensing
  </li>
</ul> 
  </section>
     
  <div style="display:none" id="hidZone">
    <menu class="ms-hide">
    </menu>
  </div>
  <div class="clear">
  </div>
</span>